.App {
    text-align: center;
  }
  h1{
    color: rgb(0, 0, 0);
  }
  
  #Calendar {
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top:50px;
    margin-bottom: 50px;
    background: yellow; 
  }
  
  .rbc-month-view{
    flex-basis: 500px !important;
  }
  
  .rbc-toolbar-label {
    font-weight: bold;
    font-size: 22px;
    color: #3bb9a6
  }

  .rbc-event {
    background-color: #3bb9a6;
  }

  .rbc-event-content {
    background-color: #3bb9a6;
  }

  .rbc-event.rbc-selected{
    background-color: #3bb9a6;
  }
  
  .rbc-date-cell {
    font-weight: bold;
    color: #000000;
  }
  
  .rbc-today {
    background-color: #CEF5EF !important;
  }

  .rbc-btn-group button{
    background-color: #3bb9a6;
    color: 3bb9a6;
    border: 1px solid #3b534f;
    /* Add any other styles you want to customize */
    }
    .rbc-btn-group button.rbc-active:active{
        background-color: #CEF5EF;
        color: #1dcab0;
    }
    .rbc-btn-group button.rbc-active:hover{
        background-color: #CEF5EF;
        color: #1dcab0;
    }
    .rbc-btn-group button.rbc-active:focus {
        background-color: #CEF5EF;
        color: #1dcab0;
    }


  
  @media (max-width: 480px) {
    .rbc-toolbar {
      display: block !important;
    }
  }
  