.background-friends-block {
    position: absolute;
    right:0%;
    width:25%;
    height:100%;
    border-radius: 30px;
    padding:0px;
    background: linear-gradient(0.25turn, #27C0BC, #1A8AB7);    /* background-color: #05AD8F; */
    z-index: -1;  
  } 
  